## Post-Hoc Analysis

In [12]:
import os
import json
import pandas as pd
import numpy as np
from scipy.stats import friedmanchisquare

print(pd.__version__)

1.2.4

### Loading the results

In [13]:
# Note: The results are collated once the runs are complete for all datasets
# source files for each dataset: main_results_data_frame.csv
df = pd.read_csv("results.csv")

### Friedman test

In [14]:
methods = ['None', 'var_bayes', 'sigmoid', 'isotonic', 'beta']
columns = ['dataset', 'method', 'acc', 'loss', 'brier']

def display_table(df, metric, alpha=0.05, highlight=True, friedman_test=True):
    """Displays result table and highlights the minimum values
    1. Performs Freidman test
    2. Highlights the best value for given metrics
    """
    print(f"Metric = {metric}")
    df_loss = df.pivot_table(index=['dataset'], columns=['method'],
                                    values=[metric], aggfunc=[np.mean])
    
    if friedman_test:
        data = df_loss.to_numpy()[:, :len(methods)]
        measurements = [data[:, x] for x in np.arange(data.shape[1])]
        stat, p_value = friedmanchisquare(*measurements)
        print(f'Statistic = {stat:.6f}, p-value = {p_value:.6f}')
        if p_value > alpha:
            print('Same distributions (fail to reject the null hypothesis)')
        else:
            print('Different distributions (reject null hypothesis)')
    
    if highlight:
        if metric != 'acc':
            return df_loss.style.highlight_min(color = 'yellow', axis = 1)
        else:
            return df_loss.style.highlight_max(color = 'yellow', axis = 1)
    else:
        return df_loss

In [9]:
display_table(df, metric='loss', alpha=0.05, highlight=True, friedman_test=True)

Metric = loss
Statistic = 23.137255, p-value = 0.000119
Different distributions (reject null hypothesis)

In [10]:
print(display_table(df, metric='loss', alpha=0.05, highlight=False, friedman_test=True).to_latex())

Metric = loss
Statistic = 23.137255, p-value = 0.000119
Different distributions (reject null hypothesis)
\begin{tabular}{lrrrrr}
\toprule
{} & \multicolumn{5}{l}{mean} \\
{} & \multicolumn{5}{l}{loss} \\
method &      None &      beta &  isotonic &   sigmoid & var\_bayes \\
dataset             &           &           &           &           &           \\
\midrule
abalone             &  0.597890 &  0.598148 &  0.691808 &  0.602227 &  0.615603 \\
balance-scale       &  0.098068 &  0.080771 &  0.092153 &  0.089347 &  0.069333 \\
credit-approval     &  0.491384 &  0.522863 &  0.897678 &  0.437511 &  0.457618 \\
german              &  0.525405 &  0.517368 &  0.532982 &  0.517461 &  0.565519 \\
ionosphere          &  0.385311 &  0.310725 &  0.334547 &  0.308752 &  0.330256 \\
landsat-satellite   &  0.549391 &  0.549391 &  0.549391 &  0.549391 &  0.065981 \\
letter              &  0.015198 &  0.015066 &  0.015491 &  0.022324 &  0.012077 \\
mfeat-karhunen      &  0.056259 &  0.052115 &  0.165397 &  0.121016 &  0.067857 \\
mfeat-morphological &  0.325083 &  0.325096 &  0.325096 &  0.325096 &  0.000206 \\
mfeat-zernike       &  0.092498 &  0.070683 &  0.166497 &  0.048465 &  0.073144 \\
mushroom            &  0.035914 &  0.037741 &  0.037741 &  0.037741 &  0.033184 \\
optdigits           &  0.086171 &  0.056051 &  0.086846 &  0.063662 &  0.047854 \\
page-blocks         &  0.071376 &  0.072884 &  0.091231 &  0.082372 &  0.085377 \\
segment             &  0.410117 &  0.410120 &  0.410120 &  0.410120 &  0.012053 \\
spambase            &  0.225907 &  0.211673 &  0.212747 &  0.213790 &  0.235523 \\
toy                 &  0.376422 &  0.377564 &  0.401984 &  0.391937 &  0.375313 \\
vehicle             &  0.107625 &  0.331832 &  0.310363 &  0.390933 &  0.091739 \\
waveform-5000       &  0.239015 &  0.234735 &  0.240671 &  0.265519 &  0.238321 \\
wdbc                &  0.080406 &  0.164898 &  0.156011 &  0.176233 &  0.070994 \\
wpbc                &  0.584846 &  0.614227 &  1.777795 &  0.594910 &  0.541680 \\
yeast               &  0.594895 &  0.583243 &  0.806812 &  0.561925 &  0.569832 \\
\bottomrule
\end{tabular}

### Critical Difference Diagrams

We use the following matlab implementation to obtain the ranks and plot our CD diagram with `results.csv`: https://github.com/aciditeam/matlab-ts/blob/master/criticaldifference.m

EOF